/******** Animation loader *************/
.index_body header, .index_body footer, .index_body section {
    opacity: 0;
    animation: opacity_appearance 1000ms both ease-in-out 3s;
}
.index_body .loader_main {
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation: opacity_disappaerance 400ms both 3s;
    @include laptop-and-more {
        top: 50%;
    }
    i {
        transform: rotate(0deg);
        font-size: 100px;
        z-index: 99;
        @include laptop-and-more {
            font-size: 300px;
        }
    }
    &--one {
        color: $color--primary;
        position: absolute;
        animation: primary_loader 1s ease-in-out;
        animation-iteration-count: 3;
    }
    &--two {
        opacity: 0.2;
        color: $color--secondary;
        position: relative;
        animation: secondary_loader 1s ease-in-out;
        animation-iteration-count: 3;
    }
}