footer {
    background-color: color_footer($background-color);
    color: white;
    padding-top: 57px;
    padding-bottom: 57px;
    padding-left: 50px;
    padding-bottom: 57px;
    img {
        height: 41.4px;
        filter: invert(100%);
        padding-bottom: 20px;
    }
}

.footer__bloc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 25px;
    &__element {
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        // gap: 25px;
        display: grid;
        grid-template-columns: 65px auto;
        i {
            columns: 1 / 2;
            font-size: 35px;
            position: relative;
            top: 3px;
        }
        span {
            columns: 2 / 3;
        }
        .icon-rotate {
            transform: rotate(-35deg);
        }
    }
    a {
        color: white;
    }
}